In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from glob import glob

In [2]:
project_files = glob("FilmData/*")

project_files

['FilmData/links_small.csv',
 'FilmData/links.csv',
 'FilmData/credits.csv',
 'FilmData/movies_metadata.csv',
 'FilmData/ratings.csv',
 'FilmData/ratings_small.csv',
 'FilmData/keywords.csv']

In [3]:
metadata = pd.read_csv('FilmData/movies_metadata.csv')

metadata.head()

/var/folders/hy/nqtb059d0k96zdryttp6kk640000gn/T/ipykernel_56233/2971979601.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('FilmData/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
metadata.spoken_languages.value_counts()

[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                                         22395
[]                                                                                                                                                                                                                                3829
[{'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                                                                                         1853
[{'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                                                                              1289
[{'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                                                                                         1218
                                                                                                                                                                                                                                 ...
[{'iso_639_1': 'af', 'name': 'Afrikaans'}, {'iso_639_1': 'ny', 'name': ''}, {'iso_639_1': 'st', 'name': ''}, {'iso_639_1': 'xh', 'name': ''}, {'iso_639_1': 'zu', 'name': 'isiZulu'}, {'iso_639_1': 'en', 'name': 'English'}]        1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'et', 'name': 'Eesti'}, {'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                              1
[{'iso_639_1': 'bs', 'name': 'Bosanski'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                           1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_639_1': 'te', 'name': 'తెలుగు'}]                                                                                                                1
[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                    1
Name: spoken_languages, Length: 1931, dtype: int64

In [6]:
english = metadata.spoken_languages.iloc[0]

In [7]:
type(metadata.spoken_languages.iloc[0])

str

In [8]:
metadata = metadata[metadata.spoken_languages == english]

In [9]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22395 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  22395 non-null  object
 1   belongs_to_collection  2305 non-null   object
 2   budget                 22395 non-null  object
 3   genres                 22395 non-null  object
 4   homepage               4378 non-null   object
 5   id                     22395 non-null  object
 6   imdb_id                22392 non-null  object
 7   original_language      22392 non-null  object
 8   original_title         22395 non-null  object
 9   overview               22340 non-null  object
 10  popularity             22395 non-null  object
 11  poster_path            22298 non-null  object
 12  production_companies   22395 non-null  object
 13  production_countries   22395 non-null  object
 14  release_date           22380 non-null  object
 15  revenue                22395 non-null  float64
 16  runtime                22390 non-null  float64
 17  spoken_languages       22395 non-null  object
 18  status                 22374 non-null  object
 19  tagline                13759 non-null  object
 20  title                  22395 non-null  object
 21  video                  22395 non-null  object
 22  vote_average           22395 non-null  float64
 23  vote_count             22395 non-null  float64
dtypes: float64(4), object(20)
memory usage: 4.3+ MB

In [10]:
metadata.dropna(subset = ["overview"], inplace=True)

In [11]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22340 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  22340 non-null  object
 1   belongs_to_collection  2305 non-null   object
 2   budget                 22340 non-null  object
 3   genres                 22340 non-null  object
 4   homepage               4378 non-null   object
 5   id                     22340 non-null  object
 6   imdb_id                22337 non-null  object
 7   original_language      22337 non-null  object
 8   original_title         22340 non-null  object
 9   overview               22340 non-null  object
 10  popularity             22340 non-null  object
 11  poster_path            22250 non-null  object
 12  production_companies   22340 non-null  object
 13  production_countries   22340 non-null  object
 14  release_date           22326 non-null  object
 15  revenue                22340 non-null  float64
 16  runtime                22340 non-null  float64
 17  spoken_languages       22340 non-null  object
 18  status                 22322 non-null  object
 19  tagline                13757 non-null  object
 20  title                  22340 non-null  object
 21  video                  22340 non-null  object
 22  vote_average           22340 non-null  float64
 23  vote_count             22340 non-null  float64
dtypes: float64(4), object(20)
memory usage: 4.3+ MB

In [12]:
metadata.id.nunique()

22326

In [13]:
metadata.dropna(subset = ["imdb_id"], inplace=True)

In [14]:
metadata.set_index("imdb_id", inplace = True)

In [15]:
toy_story_ov = metadata[metadata.original_title == "Toy Story"].overview[0]

toy_story_ov

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [16]:
gom_ov = metadata[metadata.original_title == "Grumpier Old Men"].overview[0]

gom_ov

"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max."

In [25]:
#merging tables
pd.set_option('display.max_columns', 20)
#metadata = pd.read_csv('FilmData/movies_metadata.csv')
ratings = pd.read_csv('FilmData/ratings.csv')

# Rename the 'id' column to 'movieId' in the metadata table
metadata = metadata.rename(columns={'id': 'movieId'})

ratings['movieId'] = ratings['movieId'].astype(str)

# Merge the ratings and metadata tables on 'movieId'
merged_df = ratings.merge(metadata, how='left', on='movieId')

In [27]:
merged_df.head()

,userId,movieId,rating,timestamp,adult,belongs_to_collection,budget,genres,homepage,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,1,110,1.0,1425941529,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,147,4.5,1425942435,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,858,5.0,1425941523,False,NaN,21000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,...,1993-06-24,227799884.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"What if someone you never met, someone you nev...",Sleepless in Seattle,False,6.5,630.0
3,1,1221,5.0,1425941546,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1246,5.0,1425941556,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Count the number of rows with NaN title
nan_title_count = merged_df['title'].isnull().sum()

# Count the number of rows with non-NaN title
non_nan_title_count = merged_df['title'].notnull().sum()

print("Rows with NaN title:", nan_title_count)
print("Rows with non-NaN title:", non_nan_title_count)

Rows with NaN title: 20326180
Rows with non-NaN title: 5699145